.box{
    position:relative;
    background-color: rgb(101, 175, 4);

    width: 30px;
    height: 30px;
    margin: 5px;
    bottom: 0.7cm;
   
    
}
.container{
    background-color: rgb(248, 228, 5);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: flex-end;
}

.box-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .container2{
    background-color: rgb(5, 212, 248);
    top: 120px;
    right: 300;
    left: 20px;
    height: 300px;
    width: 400px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: flex-end;

  }
  .h1 {

  }
  .box1{
    position:relative;
    background-color: rgb(244, 167, 100);
    width: 100px;
    height: 100px;
    margin: 0px;
    bottom: 0cm;
  }
  .container3{
    background-color:purple;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
    display: absolute;
    position: absolute;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: flex-end;
}