
body{
    margin: 0; 
    padding: 0; 
}
.box1 {
    
    right: 0;
    left:0;
    height: 200px;
    background-color: #3498db;
    margin-top: 0; 
    margin-right: 0; 
    margin-bottom: 0; 
    margin-left: 0;
}

.box2 {
    background-color: rgb(5, 212, 248);
    top: px;
    right: 0px;
    left: 0px;
    height: 300px;
    width: 300px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: flex-end;
}
.box3{
    background-color:purple;
    top: 80px;
    right: 150px;
    left: 1350px;
    height: 150px;
    width: 200px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: flex-end;
    bottom:0;
    right:0;
}